<ion-content [fullscreen]="true">
    <ion-card>
      <img src="../../assets/icon/pokedex.png">
    </ion-card>


    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item style="margin: 20px">
            <ion-thumbnail slot="start">
              <img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" style="border: 2px solid yellow; background-color: aliceblue;">
            </ion-thumbnail>
            <ion-label>
              <h1>Nome do pókemon</h1>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
</ion-content>
